.ue-select {
  position: relative;
  display: inline-block;
}
.ue-select .input,
.ue-select .dropdown {
  background: #ffffff;
  font-family: inherit;
  font-size: 13px;
  -webkit-font-smoothing: inherit;
  line-height: 18px;
  color: #303030;
  cursor: pointer;
}
.ue-select .is-label {
  color: #999;
}
.ue-select .input {
  border-color: #ccc;
  background-color: #f9f9f9;
  background-image: -moz-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fefefe), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: -o-linear-gradient(top, #fefefe, #f2f2f2);
  background-image: linear-gradient(to bottom, #fefefe, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffefefe', endColorstr='#fff2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05), inset 0 1px 0 rgba(255, 255, 255, 0.8);
  vertical-align: middle;
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 100%;
  padding: 7px 30px 7px 8px;
  overflow: hidden;
  border: 1px solid #d0d0d0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ue-select .input.focus {
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ue-select .input .placeholder {
  padding: 0 !important;
  min-height: 0 !important;
  max-height: none !important;
  max-width: 100% !important;
  margin: 0 1px !important;
  text-indent: 0 !important;
  border: 0 none !important;
  background: none !important;
  line-height: inherit !important;
  -webkit-user-select: auto !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  cursor: pointer;
}
.ue-select .input::after {
  content: ' ';
  position: absolute;
  top: 50%;
  right: 10px;
  display: block;
  width: 0;
  height: 0;
  margin-top: -3px;
  border-color: #808080 transparent transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0 5px;
}
.ue-select .dropdown {
  position: absolute;
  z-index: 10;
  margin: -1px 0 0 0;
  border: 1px solid #ccc;
  border-top: 0 none;
  -webkit-border-radius: 0 0 3px 3px;
  -moz-border-radius: 0 0 3px 3px;
  border-radius: 0 0 3px 3px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ue-select .dropdown .item {
  display: block;
  overflow: hidden;
  cursor: pointer;
  margin: 0;
  padding: 5px 8px;
  font-weight: normal;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ue-select .dropdown .item span.highlight {
  background: rgba(125, 168, 208, 0.2) !important;
}
.ue-select .dropdown .active {
  color: #495c68;
  background-color: #f5fafd;
}
.ue-select .dropdown .selected {
  color: #fff;
  background-color: #1b9dec;
}
.ue-select .dropdown .disabled {
  color: #999;
  cursor: default;
}
.ue-select .dropdown .disabled.active {
  background-color: #fff;
}
.ue-select .input-active {
  cursor: pointer;
}
.ue-select .input-active .placeholder:focus {
  outline: none;
}
.ue-select .dropdown-active {
  background: #fff;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  cursor: text;
}
.ue-select .dropdown-active::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  height: 1px;
  background: #f0f0f0;
  content: ' ';
}
.ue-select .dropdown-active::after {
  margin-top: -4px;
  border-color: transparent transparent #808080 transparent;
  border-width: 0 5px 5px 5px;
}
.ue-select .dropdown-active .placeholder {
  cursor: text;
}
.ue-select .dropdown-content {
  max-height: 196px;
  overflow-x: hidden;
  overflow-y: auto;
}
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ue-select-single .input {
  height: 34px;
}
.ue-select-single .input .selected-panel .single-text {
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ue-select-multiple .has-items {
  background: #fff;
  padding: 4px 30px 1px 8px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
}
.ue-select-multiple .input .selected-panel {
  display: inline-block;
}
.ue-select-multiple .input .item {
  display: -moz-inline-stack;
  display: inline-block;
  *display: inline;
  vertical-align: baseline;
  zoom: 1;
  padding: 2px 6px;
  margin: 0 3px 3px 0;
  color: #ffffff;
  cursor: pointer;
  word-break: break-all;
  background: #1da7ee;
  border: 1px solid #0073bb;
  text-shadow: 0 1px 0 rgba(0, 51, 83, 0.3);
  background-color: #1b9dec;
  background-image: -moz-linear-gradient(top, #1da7ee, #178ee9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#1da7ee), to(#178ee9));
  background-image: -webkit-linear-gradient(top, #1da7ee, #178ee9);
  background-image: -o-linear-gradient(top, #1da7ee, #178ee9);
  background-image: linear-gradient(to bottom, #1da7ee, #178ee9);
  background-repeat: repeat-x;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff1da7ee', endColorstr='#ff178ee9', GradientType=0);
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), inset 0 1px rgba(255, 255, 255, 0.03);
}
.ue-select-multiple .input .item.active {
  color: #ffffff;
  background: #92c836;
  border: 1px solid #00578d;
  background-color: #0085d4;
  background-image: -moz-linear-gradient(top, #008fd8, #0075cf);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#008fd8), to(#0075cf));
  background-image: -webkit-linear-gradient(top, #008fd8, #0075cf);
  background-image: -o-linear-gradient(top, #008fd8, #0075cf);
  background-image: linear-gradient(to bottom, #008fd8, #0075cf);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff008fd8', endColorstr='#ff0075cf', GradientType=0);
}
.ue-select-multiple .dropdown input {
  margin-top: 2px;
  display: inline-block;
  vertical-align: middle;
}
.ue-select-multiple .dropdown .item {
  margin: 1px 0 0 0;
}
.ue-select-multiple .dropdown span {
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.ue-select-disabled .input {
  cursor: not-allowed;
  opacity: 0.5;
  background-color: #fafafa;
}
