{{#select}}
<label title="{{text}}" class="item{{#if selected}} selected{{/if}}{{#if disabled}} disabled{{/if}}" data-index="{{@index}}" data-role="item" data-value="{{{value}}}">
  <input type="checkbox" data-text="{{{text}}}" value="{{{value}}}"{{#if selected}} checked{{/if}}{{#if disabled}} disabled{{/if}}>
  <span style="max-width: {{../maxWidth}}">{{{text}}}</span>
</label>
{{/select}}
